.DS_Store
.idea
*.sdf
*.ink
*.exe
bin
package
proj.android/assets
proj.android/bin
proj.android/gen
proj.android/libs/armeabi
proj.android/obj
proj.android/out
proj.android/local.properties
proj.ios_mac/bin
proj.ios_mac/build
proj.ios_mac/*.xcodeproj/project.xcworkspace/xcuserdata
proj.ios_mac/*.xcodeproj/xcuserdata
proj.ios_mac/cocos2dx-store-example.xcodeproj/project.xcworkspace/xcshareddata/cocos2dx-store-example.xccheckout
proj.android/.idea/workspace.xml
proj.win32/bin
proj.win32/Debug.win32
proj.win32/Release.win32
proj.win32/.vs